body {
    font-family: "Amatic SC", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.todo-app {
    background: linear-gradient(60deg, #c9c6c6, #ffffff);
    padding: 20px;
    border-radius: 8px;
    max-width: 760px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 3em;
    letter-spacing: 0.1em;
}

.new-task {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.new-task input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-task button {
    padding: 10px;
    background-color: #6b2d80;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.filters button {
    padding: 10px;
    border: none;
    background-color: #e0bafd;
    border-radius: 4px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #193c26;
}

#task-list {
    font-size: 2em;
    list-style-type: none;
    padding: 0;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #727272;
}

#task-list li.completed {
    text-decoration: line-through;
    color: #193c26;
}

#task-count {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
